@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');
@import url('https://fonts.googleapis.com/css?family=Grenze|Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins|Quicksand&display=swap');


.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-logo{
    position: relative;
    margin-left: -41.5%;

} 
.login-logo img{
    position: absolute;
    width: 20%;
    margin-top: 20%;
    background: #282726;
    border-radius: 4.5rem;
    /*padding: 5%; */
}
.login-form-1{
    padding: 9%;
    background:#282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:#fff;
}
.login-form-2{
    padding: 9%;
    /*background: #f05837; */
    background: #0b19db;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color: #fff;
}
.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    width: 100%;
    padding:2%;
}
.btnForgetPwd:hover
.btnForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#fff;
}


.erro {
    color:red;
}
.erro_login {
    color:white;
}
.login_rodape {
    background: red;
}
.Adicionar_Tema {
    background-color:#e32f;
    color:white;
}
input[type="file"] {
    display: none;
}

.temas {
    min-height: 350px;
    max-height: 350px;
}
.pause-icon {
    height:45px;
    width:45px;
}

.footer {
    background-color: #09395eff;
}
#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

.delete {
    position: absolute;
    top: 5px;
    right:5px;
    z-index:200;
    transition: all 0.4s ease;
}

.delete:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.7);
    transition: all 0.4s ease;
}

.exibir {
  width:750px;
  height:500px;
}

#titulo_cabecalho {
    font-family: 'Grenze', serif;
    font-size:2rem;
}

.cabecalho {
    font-family: 'Grenze', serif;
    font-family: 'Quicksand', sans-serif;
    
}

.titulo {
    color:#09395eff;
    font-family: 'Quicksand', sans-serif;
}

.title {
    font-weight: bold;
}

@media (max-width: 991px) {
    .img-home {
        padding-left: 20%;
    }
}

@media (max-width: 767px) {
    .img-home {
        position: relative;
        right:11%;
    }
    .sign_title {
        padding-top:40px;
    }
    .login-form-1 {
        margin-top:10%;
    }

}

@media (min-width: 991px) {
    #titulo_cabecalho {
        font-size: 1.7rem;
    }
}
@media (max-width:530px) {
    #titulo_cabecalho {
        font-size: 1.4rem;
    }
}

.Entrar {
    background:white;
    color:black;
    cursor:pointer;
}

.button-href a:link, a:hover{
    text-decoration:none;
}